.dashboard-container {
  display: flex;
  height: 100vh;
}

.dashboard-content {
  /* margin-left: 1px; Adjust the margin to the width of the navbar */
  padding: 20px;
  overflow-y: auto; /* Enable vertical scrolling */
  width: calc(100% - 275px); /* Take the remaining width */
}

.dashboard {
  max-width: 1200px;
  margin: 0 auto;
}

/* .dashboard h1 {
  text-align: center;
  color: #973131;
  margin-bottom: 20px;
} */

.dashboard table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #fff; /* Ensure table background is white */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}

.dashboard th, .dashboard td {
  border: 1px solid #ddd;
  padding: 12px; /* Increase padding for better readability */
  text-align: center;
  vertical-align: middle; /* Vertically center text */
}

.dashboard th {
  background-color: #f2f2f2;
  color: #555;
}

.dashboard tr:nth-child(even) {
  background-color: #f9f9f9;
}

.dashboard tr:hover {
  background-color: #ddd;
}

/* Additional styling for better visuals */
.dashboard th:first-child, .dashboard td:first-child {
  border-left: 0; /* Remove left border for the first column */
}

.dashboard th:last-child, .dashboard td:last-child {
  border-right: 0; /* Remove right border for the last column */
}

.dashboard tr:first-child th {
  border-top: 0; /* Remove top border for the first row */
}

.dashboard tr:last-child td {
  border-bottom: 0; /* Remove bottom border for the last row */
}
