.dashboard-container {
  display: flex;
  height: 100vh;
}

.dashboard-content {
  padding: 20px;
  overflow-y: auto; /* Enable vertical scrolling */
  width: calc(100% - 275px); /* Take the remaining width */
}

.dashboard {
  max-width: 1200px;
  margin: 0 auto;
}

.back-button {
  position: fixed;
  top: 20px;
  left: 275px;
  width: 50px;
  height: 50px;
  background-color: #973131;
  color: whitesmoke;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  transition: background 0.3s ease;
  outline: none;
  z-index: 1000; /* Ensures it stays on top of other elements */
}


.dashboard table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dashboard th, .dashboard td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
  vertical-align: middle;
}

.dashboard th {
  background-color: #f2f2f2;
  color: #555;
}

.dashboard tr:nth-child(even) {
  background-color: #f9f9f9;
}

.dashboard tr:hover {
  background-color: #ddd;
}

.dashboard th:first-child, .dashboard td:first-child {
  border-left: 0;
}

.dashboard th:last-child, .dashboard td:last-child {
  border-right: 0;
}

.dashboard tr:first-child th {
  border-top: 0;
}

.dashboard tr:last-child td {
  border-bottom: 0;
}