/* HeroSection.css */
* {
  font-family: 'Poppins';
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-top: 30px;
}
.left-section {
  background-color: #CFD2CF;
  color: white;
  padding: 8px 15px;
  border-radius: 15px;
  border-style: solid;
  flex: 1;
  color: black;
  text-align: left;
  margin-left: 50px; /* Geser ke kanan */
  justify-content: center;
  align-items: center;
}

.left-section h1 {
  font-family: 'Poppins';
  font-size: 50px;
  font-weight: 600;
}

.left-section p {
  font-size: 20px;
  line-height: 1.6;
  margin-top: 30px;
  text-wrap: 20;
  font-weight: 400;
}

.left-section button {
  background-color: #B4B4B3;
  color: white;
  padding: 12px 24px;
  border-radius: 15px;
  font-weight: 600;
  font-size: 18px;
  border: solid;
  color: black;
  cursor: pointer;
  margin-top: 30px;
  margin-left: 250px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.left-section button:hover {
  background-color: #0561EB;
  color: #fff;
}

.right-section {
  flex: 1;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-section img {
  /* margin-top: 10px; */
  max-width: 64%;
  max-height: 64%;
  object-fit: cover;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
}
