.sidebar {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0; /* Ensure the sidebar is fixed to the left */
    width: 250px; /* Set a fixed width for the sidebar */
    height: 100vh; /* Full height */
    overflow-y: auto;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    transform: translateX(-100%); /* Hide by default */
}

/* When sidebar is shown */
.sidebar.shown {
    transform: translateX(0);
}
.nav-link {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #6c757d;
    padding: 0.75rem;
    border-radius: 0.25rem;
}

.nav-link:hover, .nav-link:focus {
    background-color: rgba(0, 0, 0, 0.1);
    color: #495057;
}

.active-link {
    background-image: linear-gradient(to right, #0d6efd, #6610f2);
    color: white !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.text-gray {
    color: #6c757d;
}

.mt-auto {
    margin-top: auto;
}

.bg-purple {
    background-image: linear-gradient(to right, #6610f2, #6f42c1);
    
}
