/* Sidebar.css */
.navbar {
  width: 250px; /* Adjust the width of the navbar */
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #973131;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box; /* Ensure padding is included in the width */
  font-family: Montserrat;
}

.navbar .logo {
  width: 100%;
  height: 135px; /* Adjust the height as needed */
  background-image: url('../assets/sdalogo.png'); /* Replace with actual image path */
  background-size: contain; /* Scale the image to fit */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center; /* Center the image */
  margin-bottom: 30px; /* Space below the logo */
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0; /* Ensure no extra margin */
}

.navbar ul.logout {
  margin-top: auto; /* Push the logout button to the bottom */
}

.navbar ul li {
  margin-bottom: 10px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  display: block;
  text-align: center;
  padding: 10px;
  border-radius: 5px; /* Optional: for rounded corners */
}

.navbar ul li a:hover {
  color: #FFDE4D;
  background-color: rgba(255, 255, 255, 0.1); /* Optional: for hover effect */
}
