/* SignUpPage.css */

.signup-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
  }
  
  h2 {
    color: #333;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
  }
  
  button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2980b9;
    text-decoration: none; /* Remove underline on hover */
  }
  
  .login-message {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
    text-align: center;
  }
  
  .login-link {
    color: #3498db;
    cursor: pointer;
    text-decoration: underline; /* Underline the text */
  }
  
  .login-link:hover {
    text-decoration: none; /* Remove underline on hover */
  }
  