/* SignUpPage.css */
.signup-page {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('../assets/telkom.png'); /* Replace 'your-image.jpg' with the actual image name */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.signup-container {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 20px;
  width: 450px;
  text-align: left;
  font-weight: 500;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.signup-container h2{
  color: #000;
  text-align: center;

}

.form-group-signup {
  margin-bottom: 15px;
}

.form-group-signup label {
  display: block;
  margin-bottom: 5px;
  color: #000;
}
.form-group-signup input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.signup-btn {
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-btn:hover {
  background-color: #2980b9;
  text-decoration: none;
}


.login-message {
  margin-top: 15px;
  color: #fff;
  text-align: center;
}

.login-link {
  color: #3498db;
  cursor: pointer;
  text-decoration: underline;
}

.login-link {
  color: #F4CE14;
  cursor: pointer;
  text-decoration: underline;
}